<div class="m-b-md">
  <div class="row">
    <div class="col-sm-8 col-xs-6">
      <h3 class="m-b-none m-t-sm">WELLNESS DAYS</h3>
      <small>List of wellness days</small>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="#" data-link="wellness_day_create" class="btn btn-info btn-small m-t pull-right">Create</a>
    </div>
  </div>
</div>

<section class="panel panel-default">
  <header class="panel-heading flex-heading">
    WELLNESS DAY(S) 
    <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
  </header>
  <div class="table-responsive">
    <table class="table table-striped m-b-none details-table" data-ride="datatables">
      <thead>
        <tr>
          <th>Location/Name</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="details-grid">
      </tbody>
    </table>
  </div>
</section> 