<div class="m-b-md">
  <h3 class="m-b-none dash-title">ZUMBA REGISTER</h3>
</div>

<section class="panel panel-default">
  <header class="panel-heading font-bold">DETAILS</header>
  <div class="panel-body">
    <form role="form" class="form-horizontal" name="zumba_register" id="zumba_register" autocomplete="off">
      <input type="hidden" class="ignore" name="actions" id="actions" value="zumba_register">
      <input type="hidden" class="ignore" name="action_title" id="action_title" value="REGISTER">
      <input type="hidden" class="ignore" name="user_id" id="user_id" value="">
      <input type="hidden" class="" name="memberno" id="memberno" value="">
      
      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <label>Date<small class="font-thin text-danger">(required)</small></label>
              <input type="text" name="date" id="date" data-date-format="yyyy-mm-dd" class="form-control datepicker-input required" data-error="Please select the date" value="">
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <label>Venue</label>
              <select name="venue" id="venue" class="form-control ignore required" data-error="Please select venue">
                <option value=''>SELECT USER ROLE</option>
                <option value="2">Administrator</option>
                <option value="3">Member</option>
              </select>
            </div>
            <div class="col-sm-6 col-xs-6">
              <label>Insurer</label>
              <select name="insurer" id="insurer" class="form-control ignore required" data-error="Please select insurer">
                <option value=''>SELECT USER ROLE</option>
                <option value="2">Administrator</option>
                <option value="3">Member</option>
              </select>
            </div>            
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <label>Member<small class="font-thin text-danger">(required)</small></label>
              <input type="text" class="form-control" name="searchterm" id="searchterm" placeholder="Search...">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <label>Mobile<small class="font-thin text-danger">(required)</small></label>
              <div class="input-group m-b">
                <span class="input-group-addon">+263</span>
                <input type="number" class="form-control" data-error="Please fill in mobile number." name="mobile" id="mobile" placeholder="773978....." value="">
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_1" id="dep_1" value="dep_1">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent One
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_2" id="dep_2" value="dep_2">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Two
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_3" id="dep_3"  value="dep_3">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Three
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_4" id="dep_4"  value="dep_4">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Four
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_5" id="dep_5"  value="dep_5">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Five
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_6" id="dep_6"  value="dep_6">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Six
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_7" id="dep_7"  value="dep_7">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Seven
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_8" id="dep_8"  value="dep_8">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Eight
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_9" id="dep_9"  value="dep_9">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Nine
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="checkbox">
                <label class="checkbox-custom">
                  <input type="checkbox" name="dep_10" id="dep_10"  value="dep_10">
                  <i class="fa fa-fw fa-square-o"></i>
                  Dependent Ten
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <button type="submit" id="submit" class="btn btn-md btn-primary">ATTENDED</button>
              <img src='images/loaders/indicator-lite.gif' class='m-r-sm form-progress hide'>
          </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</section>

                
            
        