<div class="m-b-md">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="m-b-none m-t-sm">MEDICAL AID PROVIDERS</h3>
      <!--<small>STATISTICS & GRAPH INFORMATION</small>-->
    </div>
    <div class="col-sm-6">
      <a href="#" data-link="medicalaid_providers_create" class="btn btn-info pull-right m-t-sm">ADD PROVIDER</a>
    </div>
  </div>
</div>

<section class="panel panel-default">
  <header class="panel-heading flex-heading">
    MEDICAL AID PROVIDER(S) 
    <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
  </header>
  <div class="table-responsive">
    <table class="table table-striped m-b-none details-table" data-ride="datatables">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="details-grid">
      </tbody>
    </table>
  </div>
</section> 