<div class="m-b-md">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="m-b-none m-t-sm flex-heading">PAIENT HEALTH DATA</h3>
      <!--<small>STATISTICS & GRAPH INFORMATION</small>-->
    </div>
  </div>
</div>

<section class="scrollable wrapper">
  <div class="row">
    <div class="panel-group m-b details-accordian" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Collapsible Group Item #1
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse in">
          <div class="panel-body text-sm">
            <div class="col-sm-6">Subject one</div>
            <div class="col-sm-6">Subject two</div>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
