<div class="m-b-md">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="m-b-none m-t-sm">MEMBER(S)</h3>
      <!--<small>STATISTICS & GRAPH INFORMATION</small>-->
    </div>
  </div>
</div>

<section class="panel panel-default">
  <header class="panel-heading flex-heading">
    MEMBER(S) 
    <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
  </header>
  <div class="table-responsive">
    <table class="table table-striped m-b-none members-table" data-ride="datatables">
      <thead>
        <tr>
          <th>Name</th>
          <th>Member #</th>
          <th>Suffix</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Plan</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="members-grid">
      </tbody>
    </table>
  </div>
</section> 