<div class="m-b-md">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="m-b-none m-t-sm flex-heading">WELLNESS DAY REPORT</h3>
      <!--<small>STATISTICS & GRAPH INFORMATION</small>-->
    </div>
  </div>
</div>

<section class="panel panel-default wrapper">
  <!--B.M.I-->
    <div class="row m-l-none m-r-none bg-light lter b">
      <div class="m-b-md">
        <h3 class="m-b-none">Body Mass Index</h3>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bmiunderweight"></strong></span>
          <small class="text-muted text-uc">Under weight</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bmihealthy"></strong></span>
          <small class="text-muted text-uc">Healthy</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bmioverweight"></strong></span>
          <small class="text-muted text-uc">Over weight</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bmiobese"></strong></span>
          <small class="text-muted text-uc">Obese</small>
        </a>
      </div>
    </div>
  <!--B.M.I-->

  <!--cholesterol
    <div class="row m-l-none m-r-none bg-light lter b">
      <div class="m-b-md">
        <h3 class="m-b-none">Cholesterol</h3>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="chloptimal"></strong></span>
          <small class="text-muted text-uc">Optimal</small>
        </a>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light lt">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="chlintermediate"></strong></span>
          <small class="text-muted text-uc">Intermediate</small>
        </a>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="chlhigh"></strong></span>
          <small class="text-muted text-uc">High</small>
        </a>
      </div>
    </div>
  cholesterol-->

  <!--B.P-->
    <div class="row m-l-none m-r-none bg-light lter b">
      <div class="m-b-md">
        <h3 class="m-b-none">Blood Pressure</h3>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bphigh"></strong></span>
          <small class="text-muted text-uc">High</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bpprehigh"></strong></span>
          <small class="text-muted text-uc">Pre-high</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bpnormal"></strong></span>
          <small class="text-muted text-uc">Normal</small>
        </a>
      </div>

      <div class="col-sm-3 col-md-3 col-xs-6 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bplow"></strong></span>
          <small class="text-muted text-uc">Low</small>
        </a>
      </div>
    </div>
  <!--B.P-->

  <!--blood sugar-->
    <div class="row m-l-none m-r-none bg-light lter b">
      <div class="m-b-md">
        <h3 class="m-b-none">Blood Sugar</h3>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bsoptimal"></strong></span>
          <small class="text-muted text-uc">Optimal</small>
        </a>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bshigh"></strong></span>
          <small class="text-muted text-uc">High</small>
        </a>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4 padder-v b-r b-light dk">
        <a class="clear" href="#">
          <span class="h3 block m-t-xs"><strong class="bslow"></strong></span>
          <small class="text-muted text-uc">Low</small>
        </a>
      </div>
    </div>
  <!--blood sugar-->
</section>
<section class="panel panel-default">
  <header class="panel-heading flex-heading">
    PATIENT(S) 
    <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
  </header>
  <div class="table-responsive">
    <table class="table table-striped m-b-none details-table" data-ride="datatables">
      <thead>
        <tr>
          <th>Name</th>
          <th>Member #</th>
          <th>B.M.I</th>
          <th>Blood/Sugar</th>
          <th>B.P</th>
          <th>Cholesterol</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="details-grid">
      </tbody>
    </table>
  </div>
</section> 
